/* Gerais */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

/* NavBar */

.navbar {
  background-color: transparent;
  transition: background-color 0.1s linear;
  height: 60px;
}

.navbar.solid {
  background-color: #191a1f;
  transition: background-color 0.7s ease 0s;
}

.navbar-nav h3 {
  margin-top: 7px;
  color: #ff4654;
}

.navbar-nav a {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.navbar-nav a h4 {
  margin-top: 10px;
  padding-left: 20px;
  transition: 0.2s;
}

.navbar-nav a h4:hover {
  transform: scale(1.1);
}

/* Background intro */

main {
  position: relative;
}

.carousel-caption{
  top: 30%;
}

.carousel-caption h4{
  font-size: 50px;
  animation: neonAnim 1.5s alternate-reverse infinite;
}
.carousel-caption h1{
  font-size: 150px;
  animation: neonAnim 1.5s alternate-reverse infinite;

}

@keyframes neonAnim {
  from {
      text-shadow:
        0 0 18px rgba(255, 255, 255, .7),
        0 0 48px rgba(255, 255, 255, .7),
        0 0 108px rgba(255, 255, 255, .7);
    }
    to {
      text-shadow:
        0
    }
}

/* IntroCont */

.main-title {
  font-size: 70px;
  padding-top: 75px;
}

.about-cont {
  padding-top: 60px;
  margin-left: 80px;
}

.about-text {
  width: 400px;
  text-align: justify;
}

.btn {
  background-color: #ff4654;
  border-radius: 0;
  width: 100%;
}

.btn:hover {
  background-color: #191a1f;
}

.btn h4 {
  margin-top: 5px;
  color: white;
}

/* AgentesCont */

#container-agentes{
  background-image: linear-gradient(180deg ,#ff4654, #ac303b);
  margin-top: 100px;
  padding-bottom: 100px;
}

#col-agentes {
  transition: 0.25s ease-in-out;
}

#col-agentes:hover {
  transform: scale(1.2);
}

#col-agentes label h1 img{
  margin-bottom: 20px;
  cursor: pointer;
}

#col-agentes label h2 {
  cursor: pointer;
  margin-top: 30px;
}

.col-sm img {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#col-sm1, #col-sm2 {
  cursor: pointer;
  transition: 0.5s;
  padding-bottom: 20px;
}

#col-sm1:hover, #col-sm2:hover {
  transform: scale(1.1);
  box-shadow: rgba(87, 87, 87, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
  background-color: #191a1f;
}

input {
  display: none;
}

.row-1 h1, .row-2 h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.row-1, .row-2 {
  display: none;
}

input:checked + .row-1, input:checked + .row-2 {
  display: contents;
}
